.root {
  .root {
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: center;
    justify-content: space-between;
    position: static;
    margin: 1% 25% 0%;
    align-content: end;
    gap: 1px;
    width: auto;
    border-radius: 15px;
    // padding: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .root {
    margin: 10% 10% 0%;
  }
}

@media only screen and (max-width: 425px) {
  .root {
    margin: 10% 5% 0%;
  }
}

.deleteIcon {
  top: 5px;
  right: 5px;
  z-index: 1;
  cursor: pointer;
}
