.root {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0%;
  margin: 5% 0px 0px 0%;
  background-image: none;
  background-color: white;
  display: flex;
  position: static;
  top: 3%;
  right: 2%;
  align-self: center;
  flex-direction: column;
  justify-content: start;
  border: 1px solid #b3b3b3;
  left: 8%;
  align-content: start;
  overflow: visible;
  height: auto;
  border-radius: 15px;
  min-width: 50%;
}
