.root {
  display: flex;
  justify-content: space-between;
  border: 2px solid #e3e0e0;
  border-radius: 15px;
  overflow: hidden;
  align-items: center;
  justify-items: center;
  margin-bottom: 3px;
  margin-right: 3px;
  gap: 0px;
  margin-top: 0px;
  padding: 0px;
}
.input {
  background-color: tran;
  font-size: 18px;
  border: 0px solid #1a1a1a;
  padding: 15px;
  width: 65%;
}
.button {
  background-color: white;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  padding: 15px;
  font-size: 18px;
  background-image: none;
  border: 1px solid #e6e6e6;
}
