.root {
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-items: center;
  justify-content: space-between;
  position: static;
  margin: 1% 25% 0%;
  align-content: end;
  gap: 1px;
  width: auto;
  border-radius: 15px;
  // padding: 10px;
}
.imgProflie {
  display: block;
  height: 49px;
  border-radius: 60px;
  padding: 0px 0% 0px 0px;
  margin-right: 2%;
  max-width: 59px;
  max-height: 59px;
  width: 49px;
}
.postTitleBox {
  display: flex;
  flex-direction: row;
  margin: 10px 16px 10px 10px;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  width: auto;
  height: 49px;
}
.post_Name {
  display: flex;
  //flex-direction: column;
  justify-content: start;
  justify-items: start;
  align-items: start;
  min-height: auto;
  //min-width: 100px;
}
.MuiCardHeader-title{
  
  // display: flex;
  // align-items: start;
  // justify-content: start;
  // justify-items: start;
  // min-height: auto;
}
.post_Pro_Img {
  padding: 0px 1rem 0px 0px;
}
.post_Pro_name {
  height: auto;
  font-weight: 500;
  font-size: auto;
  width: auto;
  padding: 0px 0px 5px;
  min-width: 100px;
}
.postTime {
  display: flex;
  color: #b3b3b3;
  font-weight: 500;
  font-size: 15px;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  justify-content: start;
}
.post_Num_Time {
  padding: 0px 10px 0px 0px;
}
.post_Body {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-items: start;
  margin-right: 4%;
  margin-left: 2%;
  font-size: 15px;
  padding: 0px;
  margin-bottom: 10px;
}
.post_desc {
  display: flex;
  justify-items: start;
  text-align: start;
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 0%;
  margin-left: 0%;
}
.post_Tag {
  display: flex;
  justify-items: start;
  align-items: start;
  width: 100%;
}
.post_Tag_Item {
  font-size: 15px;
  font-weight: 500;
  color: #6309de;
  padding: 5px;
}
.post_Boby_hr {
  width: 100%;
  margin: 3%;
  padding: 0%;
}
.Post_Body_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: auto;
}
.post_img {
  max-width: 100%;
  margin: 0px 0px 10px;
}
.post_Action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  margin-left: 3%;
  margin-bottom: 10px;
}
.post_Action_icon {
  max-width: 39px;
  max-height: 39px;
}
.post_Action_a {
  margin-right: 10px;
  color: #7b809a;
}
.post_Action_div {
}
.post_text_div {
}
.text_comment {
}
.post_icon {
}
.icon_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: end;
  justify-content: end;
  position: absolute;
  flex-wrap: nowrap;
  width: 48%;
}
.post_Body_Status {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  justify-items: center;
  color: #7b809a;
  padding-left: 0px;
  align-content: start;
  margin: 10px 0px 0px;
  padding-right: 10px;
}
.num_like {
  margin: 0px 0px 0px 5px;
}
.item_status {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
  justify-items: start;
  align-items: start;
  align-content: start;
  min-width: auto;
  font-size: 16px;
}
