.root {
  flex-grow: 1;
  flex-shrink: 1;
  color: #6309de;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1px;
  position: fixed;
  top: auto;
  left: 0;
  margin-top: 4% auto; ;
  justify-content: space-between;
  justify-items: center;
  align-items: stretch;
  align-content: space-between;
  overflow: visible;
  align-self: stretch;
  z-index: 1;
  width: 20%;
  height: 100%;
  
  @media (max-width: 768px) {
    /* styles for screens with a max width of 768px */
    position: static;
    margin-top: 0;
    width: 100%;
    height: auto;
    margin-top: 10% auto;
  }
  
  @media (min-width: 768px) {
    margin-top: 5% auto;
  }
}
.logo {
  height: 50px;
  display: flex;
  align-items: center;
}
.logoText {
  font-size: 25px;
}
.title {
  color: #777;
  display: flex;
  flex-direction: column;
}
.hr {
  height: 0px;
  border: 0.5px solid #777;
  width: 100%;
}

.list {
  padding: 1px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: start;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  overflow: auto;
}
// .listItem {
// }
