.root {
    overflow: visible;
      display: flex;
    //   flex-direction: column;
    //   align-items: start;
    //   justify-items: center;
    //   justify-content: space-between;
    //   position: static;
    margin: 9% 0% 0%;
    //   align-content: end;
    //   gap: 1px;
    //   top: 20%;
    //   border-radius: 15px;
}
