.root {
    overflow: visible;
    display: flex;
    //   flex-direction: column;
    //   align-items: start;
    //   justify-items: center;
    //   justify-content: space-between;
    //   position: static;
    //margin: 7% 0% 0%;
    //   align-content: end;
    //   gap: 1px;
    //   top: 20%;
    //   border-radius: 15px;
    margin: '0 auto';
}
@media only screen and (min-width: 768px) {
    .root {
        // flex-direction: row;
        // overflow: visible;
        // justify-content: space-between;
        // margin: '0 auto',
        //margin: 8% 0% 0%;
        position: 'static';
        maxWidth: '100%';
        width: '47%';
        margin: '0 auto';
    }
}

