.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 7%;
}

@media only screen and (min-width: 768px) {
    .root {
        flex-direction: row;
        justify-content: space-between;
        top: 7;
    }
}
